@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* fonte do google fontes */

@font-face { /* importar fontes baixadas */
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root { /* pseudo-classe para receber variaveis */
    --cor0: #c5ebd6; /* toda variavel deve começar com -- */
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #063d1e;
    --cor5: #043118;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* { /* configurações globais das CSS */
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(240, 255, 205);
    font-family: var(--fonte-padrao);
}

a.externos::after {
    content: '\1F517';
}

header {
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

/* O simbolo ">" indica que o elemento está dentro de um outro elemento (pai) */

header > h1 {
    color: white;
    font-weight: normal;
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.499);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.499)
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    color: var(--cor0);
    text-decoration: none;
    transition-duration: 0.5s; /* tempo de transição para o efeito hover */
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 3px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.453);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 8px;
}

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 25px; /* recuo do paragrafo */
    line-height: 1.5em; /* espaço esntre linhas */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 25px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 8px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0'; 
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.2s;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}